In [1]:
#importacion librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import b_funciones as fn

In [2]:
r = pd.read_csv("res.csv", sep= ';')
r.head()

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,Attrition,retirementDate,retirementType,resignationReason
0,2,3.0,2.0,4.0,31,Travel_Frequently,Research & Development,10,1,Life Sciences,...,3,5,1,4,2,4,Yes,15/10/2016,Resignation,Others
1,7,1.0,3.0,1.0,28,Travel_Rarely,Research & Development,11,2,Medical,...,2,0,0,0,3,4,Yes,20/07/2016,Resignation,Stress
2,14,1.0,2.0,2.0,47,Non-Travel,Research & Development,1,1,Medical,...,4,10,9,9,2,3,Yes,08/11/2016,Resignation,Others
3,29,4.0,3.0,1.0,44,Travel_Frequently,Research & Development,1,2,Medical,...,2,1,0,0,2,3,Yes,15/10/2016,Resignation,Others
4,31,1.0,2.0,3.0,26,Travel_Rarely,Research & Development,4,3,Medical,...,5,3,0,2,2,3,Yes,08/02/2016,Resignation,Salary

In [3]:
# importamos la base creada para el tiempo medio de los trabajadores mediante in_time y out_time
mt = pd.read_csv("t.csv")

# se borra columna por que se crea al subir la informacion
mt=mt.drop(['Unnamed: 0'],axis=1)

mt.head()

   mean_time
0       7.37
1       7.72
2       7.01
3       7.19
4       8.01

In [4]:
# Se agrega el id de los trabajadores
mt=mt.reset_index()
mt['index']+=1
mt=mt.rename(columns={'index':'EmployeeID'})

In [5]:
#Se agrega el tiempo medio a la base de datos tratada
r=r.merge(mt, on='EmployeeID')

In [6]:
#informacion de las columnas (tipo, nulos)
r.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
 4   Age                      4410 non-null   int64
 5   BusinessTravel           4382 non-null   object
 6   Department               4382 non-null   object
 7   DistanceFromHome         4410 non-null   int64
 8   Education                4410 non-null   int64
 9   EducationField           4382 non-null   object
 10  EmployeeCount            4410 non-null   int64
 11  Gender                   4382 non-null   object
 12  JobLevel                 4410 non-null   int64
 13  JobRole                  4382 non-null   object
 14  MaritalStatus            4382 non-null   object
 15  MonthlyIncome            4410 non-null   int64
 16  NumCompaniesWorked       4382 non-null   float64
 17  PercentSalaryHike        4410 non-null   int64
 18  StandardHours            4410 non-null   int64
 19  StockOptionLevel         4410 non-null   int64
 20  TotalWorkingYears        4410 non-null   int64
 21  TrainingTimesLastYear    4410 non-null   int64
 22  YearsAtCompany           4410 non-null   int64
 23  YearsSinceLastPromotion  4410 non-null   int64
 24  YearsWithCurrManager     4410 non-null   int64
 25  JobInvolvement           4410 non-null   int64
 26  PerformanceRating        4410 non-null   int64
 27  Attrition                711 non-null    object
 28  retirementDate           711 non-null    object
 29  retirementType           711 non-null    object
 30  resignationReason        641 non-null    object
 31  mean_time                4410 non-null   float64
dtypes: float64(5), int64(17), object(10)
memory usage: 1.1+ MB

In [7]:
r['Attrition']

0       Yes
1       Yes
2       Yes
3       Yes
4       Yes
       ...
4405    NaN
4406    NaN
4407    NaN
4408    NaN
4409    NaN
Name: Attrition, Length: 4410, dtype: object

In [8]:
r['Attrition']=r['Attrition'].fillna('No')

In [9]:
#Se crea lista con variables categoricas
list_cat=list(r.select_dtypes(include=['object']).columns)

In [10]:
#Se imputan los datos
r=fn.imputar_f (r,list_cat)

In [11]:
#Se vuelve la variable employeeID en entera
r = pd.DataFrame(r)
r['EmployeeID']=r['EmployeeID'].astype('int')
r.head()

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,DistanceFromHome,Education,EmployeeCount,JobLevel,MonthlyIncome,...,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Attrition,retirementDate,retirementType,resignationReason
0,2,3.0,2.0,4.0,31.0,10.0,1.0,1.0,1.0,41890.0,...,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Single,Yes,15/10/2016,Resignation,Others
1,7,1.0,3.0,1.0,28.0,11.0,2.0,1.0,2.0,58130.0,...,Travel_Rarely,Research & Development,Medical,Male,Sales Executive,Single,Yes,20/07/2016,Resignation,Stress
2,14,1.0,2.0,2.0,47.0,1.0,1.0,1.0,1.0,57620.0,...,Non-Travel,Research & Development,Medical,Male,Research Scientist,Married,Yes,08/11/2016,Resignation,Others
3,29,4.0,3.0,1.0,44.0,1.0,2.0,1.0,2.0,103330.0,...,Travel_Frequently,Research & Development,Medical,Male,Research Scientist,Divorced,Yes,15/10/2016,Resignation,Others
4,31,1.0,2.0,3.0,26.0,4.0,3.0,1.0,3.0,68540.0,...,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Divorced,Yes,08/02/2016,Resignation,Salary

In [12]:
#Se ha elegido 'EmployeeID' como el índice de la tabla
r = r.set_index('EmployeeID')
r=r.sort_values('EmployeeID')

Las columnas "EmployeeCount" y "StandardHours" son eliminadas debido a su falta de relevancia en la información.

In [13]:
r.drop(columns=['EmployeeCount'],axis=1,inplace=True)
r.drop(columns=['StandardHours'],axis=1,inplace=True) # retirementDate
r.drop(columns=['retirementDate'],axis=1,inplace=True)

Se han imputado los valores faltantes en la columna 'Attrition' utilizando la función 'fillna'. Estos registros faltantes están relacionados con la condición de que no haya ocurrido renuncias. Además, también se ha aplicado el mismo proceso a las columnas 'retirementType' y 'resignationReason', asegurándonos de que los empleados todavía trabajan en la compañía

In [14]:
#convertimos la base r a un csv
r.to_csv('Tablas\ r2.csv', index=True)